.booking-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.bookings-title {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    font-size: 2rem;
    margin-top: 80px;
}

.all-bookings {
    border: 1px solid rgb(188, 181, 181);
    background-color: rgb(216, 230, 245);
    margin-top: 15px;
    /* margin-left: -35px; */
    line-height: 30px;
    border-radius: 15px;
    padding: 10px;
}

.movie-title {
    text-transform: uppercase;
    color: rgb(246, 1, 1);
    font-weight: bold;
}

.loading, .error, .no-bookings {
  text-align: center;
  color: #888;
  font-size: 1.2em;
  margin: 20px 0;
}

.all-bookings p {
  margin: 5px 0;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.all-bookings strong {
  color: #333;
  font-weight: bold;
}

.status-confirmed {
  color: #04ad02;
  font-weight: bold;
}

.status-pending {
  color: #ff9800;
  font-weight: bold;
}

.status-cancelled {
  color: #f44336;
  font-weight: bold;
}