<div class="profile-container">
  <h2 class="profile-heading">Profile</h2>
  <div class="container mx-auto px-4 py-8">
    <div *ngIf="successMessage" class="success">
      <p>{{ successMessage }}</p>
    </div>
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
    <div *ngIf="user; else loading">
      <h2 class="userName-text">
        Hi {{ user.userName }}!
      </h2>
      <p class="text-lg text-gray-600 mt-2">
        User ID: {{ user.userId }}
      </p>
      <p class="text-lg text-gray-600 mt-2">
        Role: {{ user.role }}
      </p>
      <p class="text-lg text-gray-600 mt-2">
        Mobile Number: {{ user.mobileNumber }}
      </p>
      <div class="profile-buttons">
        <button (click)="editProfile()" class="edit-btn">
          Edit Profile
        </button>
        <button (click)="logout()" class="logout-btn">
          Logout
        </button>
      </div>
    </div>
    <ng-template #loading>
      <p class="text-lg text-gray-600 text-center">Loading user data...</p>
    </ng-template>
  </div>

  <div class="content">
    <div *ngIf="activeTab === 'about'">
      <h2>About Us</h2>
      <p>
        The Ticket Booking App is an online platform that allows users to easily browse movies, view details like posters, genres, and release dates, and book tickets in just a few clicks.
        Admins can manage movie listings by adding, updating, or removing movies, ensuring that users always see the latest releases.
        The app provides a smooth, user-friendly experience for both movie lovers and administrators.
      </p>
    </div>

    <div *ngIf="activeTab === 'contact'">
      <h2>Contact Information</h2>
      <p>Email: support-ticketbooking.com</p>
      <p>Phone: +1-800-123-4567</p>
      <p>Address: 123 Movie Lane, Entertainment City, India</p>
    </div>

    <div *ngIf="activeTab === 'privacy'">
      <h2>Privacy Policy</h2>
      <p>
        Your privacy is important to us. We collect only the necessary information to provide you with
        a personalized experience. Your data is securely stored and never shared without your consent.
        For more details, please review our full privacy policy.
      </p>
    </div>
  </div>
  
  <footer class="bg-gray-800 text-white py-4">
    <div class="footer">
      <div class="options">
        <button [class.active]="activeTab === 'about'" class="about" (click)="setActiveTab('about')">About</button>
        <button [class.active]="activeTab === 'contact'" class="contact" (click)="setActiveTab('contact')">Contact</button>
        <button [class.active]="activeTab === 'privacy'" class="privacy" (click)="setActiveTab('privacy')">Privacy Policy</button>
      </div>
    </div>
    <div><p class="copyrights">&copy; 2025 Your Company. All rights reserved.</p></div>
  </footer>
</div>

<!-- Edit profile form -->
 <div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Edit Profile</h2>
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
      <div class="form-group">
        <!-- <label for="userName">Username:</label> -->
        <input id="userName" placeholder="Username" formControlName="userName" type="text"/>
        <div *ngIf="editForm.get('userName')?.invalid && editForm.get('userName')?.touched" class="error">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="role">Role:</label> -->
        <input id="role" placeholder="Role" formControlName="role" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="mobileNumber">Mobile Number:</label> -->
        <input id="mobileNumber" placeholder="Mobile number" formControlName="mobileNumber" type="text" />
        <div *ngIf="editForm.get('mobileNumber')?.invalid && editForm.get('mobileNumber')?.touched" class="error">
          Mobile number must be up to 15 digits.
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="address">Address:</label> -->
        <input id="address" placeholder="Address" formControlName="address" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="city">City:</label> -->
        <input id="city" placeholder="City" formControlName="city" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="pincode">Pincode:</label> -->
        <input id="pincode" placeholder="Pincode" formControlName="pincode" type="text" />
        <div *ngIf="editForm.get('pincode')?.invalid && editForm.get('pincode')?.touched" class="error">
          Pincode must be up to 10 digits.
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="state">State:</label> -->
        <input id="state" placeholder="State" formControlName="state" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="country">Country:</label> -->
        <input id="country" placeholder="Country" formControlName="country" type="text" />
      </div>
      <div class="form-actions">
        <button type="submit" class="save-changes" [disabled]="!editForm.get('userName')?.valid">Save Changes</button>
        <button type="button" class="close-changes" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>