.profile-container {
    max-width: 1200px;
    margin: 2rem auto;
    /* padding: 2rem 1rem; */
    padding-bottom: 180px;
}

.profile-heading {
  text-align: flex-start;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 80px;
  color: #333;
}

.userName-text {
    color: blue;
}

.edit-btn {
    margin-left: -5px;
    padding: 10px;
    /* background-color: aqua; */
    background-color: #0381FE;
    font-size: 12px;
    font-weight: 700;
    color: #F3F4F6;
    border: 1px solid #0381FE;
    border-radius: 10px;
}

.profile-buttons {
    display: flex;
    margin-top: 6px;
    padding: 10px;
    gap: 15px;
}

.about-footer {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.content {
  line-height: 25px;
  margin-bottom: 80px;
  /* position: fixed; */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  background-color: #415570;
  color: white;
  padding: 5px  0;
  text-align: center;
  z-index: 100;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.about, .contact, .privacy {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: color 0.3s ease;
}

.about:hover, .contact:hover, .privacy:hover {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.copyrights {
  margin-top: 5px;
  font-size: 14px;
  color: #d1d5db;
}

.error {
  color: red;
  font-size: 20px;
}

.success {
    color: green;
    font-size: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 0px 30px 20px 10px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.save-changes {
  border: 1px solid #28a745;
  border-radius: 10px;
  padding: 10px;
  background-color: #28a745;
  color: white;
}

.close-changes {
  border: 1px solid #dc3545;
  border-radius: 10px;
  padding: 10px;
  background-color: #dc3545;
  color: white;
}

/* button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  
}

button[type="submit"]:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

button[type="button"] {
  
} */