<!-- Movies list -->
<div class="released-movies">
  <h2 class="section-title">Released Movies</h2>
  <div class="add-movie-btn" [ngStyle]="{ marginTop: isAdmin ? '-72px' : '0px', position: 'relative' }">
    <button *ngIf="isAdmin" class="add-btn" (click)="openAddMovieModal()">Add new movie</button>
  </div>

  <div *ngIf="loading" class="loading">Fetching movies, please wait...</div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error && movies.length === 0">
    <p>No movies found.</p>
  </div>

  <div class="movies-grid" *ngIf="!loading && !error">
    <div class="movie-card" *ngFor="let movie of movies" (click)="showMovieDetails(movie)">
      <!-- <img src="../../../assets/images/CinemaTicketPoster.jpg" alt="{{ movie.movieTitle }} Poster" width="20px" height="20px" class="movie-poster"/> -->
      <img [src]="movie.poster" alt="{{ movie.movieTitle }}" class="movie-poster">
      <div class="movie-title"><span style="text-transform: uppercase;">{{ movie.movieTitle }}</span> -
        {{movie.duration}} mins</div>
      <div class="movie-genre">{{ movie.genre }}</div>
      <div class="movie-date">{{ movie.releaseDate | date: 'YYYY-MM-d' }}</div>
    </div>
  </div>
</div>

<!-- Add movie modal -->
<!-- <div *ngIf="showAddMovieModal" class="add-movie-modal">
  <div class="modal-content-movie">
    <h2>Add New Movie</h2>
    <form (ngSubmit)="addMovie()">
      <div class="form-group">
        <label for="movieTitle">Movie Title:</label>
        <input class="title-area" id="movietitle" [(ngModel)]="newMovie.movieTitle" name="movieTitle" required />
      </div>
      <div class="form-group">
        <label for="duration" class="duration">Duration:</label>
        <input class="duration-area" id="duration" [(ngModel)]="newMovie.duration" name="duration" required />
      </div>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <input class="show-area genre" id="genre" [(ngModel)]="newMovie.genre" name="genre" />
      </div>
      <div class="form-group">
        <label for="release-date">Release Date:</label>
        <input class="show-area release" id="release-date" [(ngModel)]="newMovie.releaseDate" name="release-date" />
      </div>
      <div class="form-group">
        <label for="poster">Poster:</label>
        <input class="show-area poster" id="poster" [(ngModel)]="newMovie.poster" name="poster" />
      </div>
      <div class="form-group">
        <label for="movie-status">Movie Status:</label>
        <input class="show-area status" id="movie-status" [(ngModel)]="newMovie.movieStatus" name="movie-status" />
      </div>
      <div class="modal-actions">
        <button type="button" class="cancel-btn" (click)="closeAddMovieModal()">Cancel</button>
        <button type="submit" class="add-btn" (click)="addMovie()">Add Movie</button>
      </div>
    </form>
  </div>
</div> -->
<div *ngIf="showAddMovieModal" class="add-movie-modal" (click)="closeAddMovieModal()">
  <div class="modal-content-movie" (click)="$event.stopPropagation()">
    <h2>{{ editMode ? 'Edit Movie' : 'Add New Movie' }}</h2>

    <form (ngSubmit)="editMode ? saveEditedMovie() : addMovie()">
      <div class="form-group">
        <!-- <label for="movieTitle">Movie Title:</label> -->
        <input class="title-area" id="movietitle" [(ngModel)]="newMovie.movieTitle" name="movieTitle" placeholder="Enter Movie Title" required />
      </div>

      <div class="form-group">
        <!-- <label for="duration" class="duration">Duration:</label> -->
        <input class="duration-area" id="duration" [(ngModel)]="newMovie.duration" placeholder="Enter Duration" name="duration" required />
      </div>

      <div class="form-group">
        <!-- <label for="genre">Genre:</label> -->
        <input class="show-area " id="genre" [(ngModel)]="newMovie.genre" placeholder="Enter Genre" name="genre" />
      </div>

      <div class="form-group">
        <!-- <label for="release-date">Release Date:</label> -->
        <input class="show-area " id="release-date" [(ngModel)]="newMovie.releaseDate" placeholder="Enter Release Date" name="release-date" />
      </div>

      <div class="form-group">
        <!-- <label for="poster">Poster:</label> -->
        <input class="show-area " id="poster" [(ngModel)]="newMovie.poster" placeholder="Enter Poster Url" name="poster" />
      </div>

      <div class="form-group">
        <!-- <label for="movie-status">Movie Status:</label> -->
        <input class="show-area " id="movie-status" [(ngModel)]="newMovie.movieStatus" placeholder="Enter Movie Status" name="movie-status" />
      </div>

      <div class="modal-actions">
        <button type="button" class="cancel-btn" (click)="closeAddMovieModal()">Cancel</button>
        <button type="submit" class="add-btn">{{ editMode ? 'Save Changes' : 'Add Movie' }}</button>
      </div>
    </form>
  </div>
</div>

<!-- Popup Modal -->
<div *ngIf="selectedMovie" class="modal" (click)="closePopup()">
  <!-- <div class="modal-content">
    <h3 class="modal-title">{{ selectedMovie.movieTitle }} - {{ selectedMovie.duration }} mins</h3>
    <p class="modal-genre"> Genre: {{ selectedMovie.genre }}</p>
    <button (click)="bookTicket(selectedMovie)" class="book-ticket">Book Ticket</button>
    <button (click)="closePopup()" class="close">Close</button>
  </div> -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">{{ selectedMovie.movieTitle }} - {{ selectedMovie.duration }} mins</h3>
    <p class="modal-genre">Genre: {{ selectedMovie.genre }}</p>

    <button *ngIf="isAdmin" (click)="openEditMovieModal(selectedMovie)" class="book-ticket">Edit Movie</button>

    <button *ngIf="!isAdmin" (click)="bookTicket(selectedMovie)" class="book-ticket">Book Ticket</button>

    <button (click)="closePopup()" class="close">Close</button>
  </div>

</div>