.upcoming-movies {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1.2rem 1rem;
}

.section-title {
  text-align: flex-start;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background-color: rgb(211, 255, 189);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px 0px 25px 0px;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  background-color: rgb(189, 240, 255);
}

.movie-poster {
  margin-top: 20px;
  width: 80%;
  height: 70%;
  object-fit: cover;
}

.modal-movie-poster {
  margin-top: -10px;
  width: 50%;
  height: 10%;
  object-fit: cover;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: #222;
}

.movie-duration {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.movie-date {
  color: #000;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.loading, .error, .no-bookings {
  text-align: center;
  color: #888;
  font-size: 1.2em;
  margin: 20px 0;
}

.latest-booking-card {
  border: 2px solid #fef1d8;
  padding: 10px 15px;
  margin: 50px 25%;
  border-radius: 8px;
  background-color: #fef1d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: #5f00ac;
}

.home-ticket-view {
  display: flex;
  justify-content: center;
}

.latest-booking-card p {
  margin: 8px 0;
  font-size: 1.1em;
  color: #333;
}

.latest-booking-card strong {
  color: #333;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(215, 248, 177);
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.modal-ticket {
  margin-top: -40px;
}

.modal-content .movie-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: darkblue;
}

.viewTicket {
  display: flex;
  justify-content: center;
  width: 91%;
  margin: 20px;
}

.view-btn {
  border: 1px solid #4CAF50;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4CAF50;
  color: #fff;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  border: none;
  color: rgb(108, 123, 139);
  background-color: rgb(215, 248, 177);
}

.status-confirmed {
  color: rgb(0, 161, 0);
  font-weight: bold;
}

.status-pending {
  color: #ff9800;
  font-weight: bold;
}

.status-cancelled {
  color: #f44336;
  font-weight: bold;
}