<div class="upcoming-movies">
  <!-- Booking Loading state -->
  <div *ngIf="bookingLoading && !bookingLoading" class="loading">Loading booking...</div>

  <!-- Booking Error state -->
  <div *ngIf="bookingError && !bookingLoading" class="error">{{ bookingError }}</div>

  <!-- No bookings state -->
  <div *ngIf="!bookingLoading && !bookingError && !latestBooking" class="no-bookings">No bookings found</div>

  <!-- Latest booking -->
  <div *ngIf="!bookingLoading && !bookingError && latestBooking" class="latest-booking-card">
    <h2 class="home-ticket-view">Your Latest Booking</h2>
    <p><strong>Movie: </strong> <span class="movie-name">{{ latestBooking.movieName || 'N/A' }}</span> - {{
      latestBooking.duration || 'N/A' }} min</p>
    <p><strong>Theatre:</strong> {{ latestBooking.theatreName || 'N/A' }} - {{ latestBooking.location || 'N/A' }}</p>
    <p><strong>Screen:</strong> {{ latestBooking.screenNumber || 'N/A' }}</p>
    <p><strong>Date:</strong> {{ latestBooking.showDate | date: 'dd/MM/yy' }}</p>
    <p><strong>Show Time:</strong> {{ latestBooking.showTime || 'N/A' }}</p>
    <p><strong>Seats:</strong> {{ latestBooking.seatNumber || 'N/A' }}</p>
    <p><strong>Amount & Status:</strong> <span [ngClass]="{
      'status-confirmed': latestBooking.bookingStatus === 'Confirmed',
      'status-pending': latestBooking.bookingStatus === 'Pending',
      'status-cancelled': latestBooking.bookingStatus === 'Cancelled'
    }"> ₹{{ latestBooking.amount || 'N/A' }} - {{ latestBooking.bookingStatus || 'N/A' }}</span></p>
    <div class="viewTicket"><button type="button" (click)="viewTicket()" class="view-btn">View Ticket</button></div>
  </div>

  <!-- View Ticket Modal -->
  <div *ngIf="showModal && latestBooking" class="modal">
    <div class="modal-content">
      <div class="close"><button type="button" class="close-btn" (click)="closeModal()">X</button></div>
      <div *ngIf="!loading">Loading booking details...</div>
      <div class="modal-ticket">
      <p><strong>Movie: </strong> <span class="movie-name">{{ latestBooking.movieName || 'N/A' }}</span> - {{
        latestBooking.duration || 'N/A' }} min</p>
      <p><strong>Theatre:</strong> {{ latestBooking.theatreName || 'N/A' }} - {{ latestBooking.location || 'N/A' }}</p>
      <p><strong>Screen:</strong> {{ latestBooking.screenNumber || 'N/A' }}</p>
      <p><strong>Date:</strong> {{ latestBooking.showDate | date: 'dd/MM/yy' }}</p>
      <p><strong>Show Time:</strong> {{ latestBooking.showTime || 'N/A' }}</p>
      <p><strong>Seats:</strong> {{ latestBooking.seatNumber || 'N/A' }}</p>
      <p><strong>Amount & Status:</strong> <span [ngClass]="{
      'status-confirmed': latestBooking.bookingStatus === 'Confirmed',
      'status-pending': latestBooking.bookingStatus === 'Pending',
      'status-cancelled': latestBooking.bookingStatus === 'Cancelled'
    }"> ₹{{ latestBooking.amount || 'N/A' }} - {{ latestBooking.bookingStatus || 'N/A' }}</span></p>
    </div>
    </div>
  </div>

  <!-- Upcoming movies -->
  <h2 class="section-title">Upcoming Movies</h2>
  <div class="movies-grid">
    <div class="movie-card" *ngFor="let movie of movies">
      <!-- <img [src]="movie.posterUrl" alt="{{ movie.movieTitle }} Poster" width="20%" class="movie-poster"> -->
      <img src="../../../assets/images/CinemaTicketPoster.jpg" alt="{{ movie.movieTitle }} Poster" width="50px"
        height="50px" class="movie-poster" />
      <div class="movie-title"><span style="text-transform: uppercase;">{{ movie.movieTitle }}</span> -
        {{movie.duration}} mins</div>
      <div class="movie-genre">{{ movie.genre }}</div>
      <div class="movie-date">{{ movie.releaseDate | date: 'YYYY-MM-d' }}</div>
    </div>
  </div>
</div>