.upcoming-movies {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1.2rem 1rem;
}

.section-title {
  text-align: flex-start;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background-color: rgb(224, 238, 251);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 15px 0px;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  background-color: bisque;
}

.movie-poster {
  margin-top: 20px;
  width: 60%;
  height: 50%;
  object-fit: cover;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: #222;
}

.movie-duration {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.movie-date {
  color: #666;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.loading, .error, .no-bookings {
  text-align: center;
  color: #888;
  font-size: 1.2em;
  margin: 20px 0;
}

.latest-booking-card {
  border: 2px solid #c9ebe5;
  padding: 10px 15px;
  margin: 20px 25%;
  border-radius: 8px;
  background-color: #d0f5e7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  color: #870004;
}

.home-ticket-view {
  display: flex;
  justify-content: center;
}

.latest-booking-card p {
  margin: 8px 0;
  font-size: 1.1em;
  color: #333;
}

.latest-booking-card strong {
  color: #333;
  font-weight: bold;
}